/* Footer specific styles */
footer {
  background-color: var(--off-white);
  color: var(--dark-blue);
  padding: 1em;
  font-size: 0.9em; /* Increased for better readability */
  text-align: center;
  /* box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); subtle shadow for depth */
  position: fixed; /* Fixing footer to the bottom */
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box; /* Ensures padding doesn't increase width */
}

/* Responsive adjustments */
@media screen and (min-width: 600px) {
  footer {
    font-size: 1em; /* Slightly larger font for larger screens */
  }
}
