@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --dark-blue: #161a30;
  --deep-purple: #31304d;
  --light-grey: #b6bbc4;
  --off-white: #f0ece5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--off-white);
  color: var(--dark-blue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1,
h2,
p {
  padding: 0 1rem;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
}

h2 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

p {
  line-height: 1.6rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.1rem;
  }
}
